### **`requirements.txt`**

```
Flask==3.0.3
Werkzeug==3.0.0
Jinja2==3.1.4
itsdangerous==2.2.0
click==8.1.7
MarkupSafe==2.1.5
pymongo==4.7.3
bson==1.3.1
python-dotenv==1.0.1
requests==2.32.3
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
urllib3==2.2.1
roboflow==1.1.8
Pillow==10.4.0
PyYAML==6.0.1
tqdm==4.66.4
scipy==1.14.0
numpy==1.26.4
opencv-python==4.10.0.84
supervision==0.23.0
authlib==1.3.1
cryptography==42.0.8
Deprecated==1.2.14
six==1.16.0
```
